@font-face {
  font-family: myfont;
  src: url('./Roboto-Light.ttf');
}
body {
  font-family: myfont;
}
/*
main {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 80%;
  max-width: 40rem;
  padding: 20px;
}

main h1 {
  font-size: 2rem;
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 40rem;
  margin: 20px auto;
  width: 150px;
  height: 150px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 3px auto;
  width: 100%;
  padding: 15px;
}

.form input[type=text] {
  width: 80%;
  border: 2px solid black;
  padding: 6px 8px;
  height: 30px;
  margin: 20px 0 5px 38px;
}

.form input[type=checkbox] {
  margin: 10px 0 0 38px;
}

.form #ip-label {
  font-size: large;
  font-weight: bold;
  margin: 20px 0 0 0;
  text-align: center;
}

.form p {
  margin-left: 38px;
  color: red;
}

/* .store-ip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */



/* .form button:hover,
.form button:active {
  background-color: #03b103;
}

.form input:focus, .form input:active {
  outline: none;
  border-color: lightgreen;
}

.action {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  width: 100%;
  padding: 15px;
}

.action button {
  padding: 10px 15px;
  color: white;
  background-color: darkgreen;
  border: none;
  cursor: pointer;
  margin: 5px 0 5px 38px;
  max-width: 8rem;
  font-weight: bold;
}

.action button:hover,
.action button:active {
  background-color: #03b103;
}

.error input {
  border-color: red;
}  */

/* .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards {
  width: 60rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  padding: .3rem;
  margin: 0 .5rem;
  color: white;
  height: 150px;
}

.blue {
  background-color: blue
}

.green {
  background-color: green
}

.orange {
  background-color: orange
}

.card .header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card .header h4 {
  font-size: 1rem;
  font-weight: bold;
}

.card .header p {
  font-size: .8rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.card .num {
  font-size: 2rem;
  font-weight: bold;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.body h3 {
  font-size: .6rem;
  font-weight: bold;
}

.body p {
  font-size: .5rem;
  font-weight: bold;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
} */

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(30% - 15px);
  min-width: 200px;
  text-align: center;
}

.flash-cbt {
  background-color: #0f7840;
  color: #fff;
}

.bus-version {
  background-color: #3b5998;
  color: #fff;
}

.docker {
  background-color: #1488C6;
  color: #fff;
}

.empty-card {
  background-color: #f3f3f3;
  color: #333;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #292929;
  background-color: #fafafa;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

/* Styles for modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 40%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 3px auto;
  width: 100%;
  padding: 15px;
}

.form input[type=password] {
  width: 80%;
  border: 2px solid black;
  padding: 6px 8px;
  height: 30px;
  margin: 20px 0 5px 38px;
}

.form button:hover,
.form button:active {
  background-color: #03b103;
}

.form input:focus, .form input:active {
  outline: none;
  border-color: lightgreen;
}

.action {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  margin: 5px 16px;
  width: 80%;
  padding: 15px;
}

.action button {
  padding: 10px 15px;
  color: white;
  background-color: darkgreen;
  border: none;
  cursor: pointer;
  margin: 5px 0 5px 28px;
  /* max-width: 8rem; */
  width: 100%;
  font-weight: bold;
}

.action button:hover,
.action button:active {
  background-color: #03b103;
}

.logo {
  width: 100%;
  max-width: 40rem;
  margin: 20px auto;
  width: 150px;
  height: 150px;
}

.logo img {
  width: 100%;
  height: 100%;
}

body h1 {
  font-size: 2rem;
  text-align: center;
}